@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #fefefe;
  font-family: 'Quicksand', sans-serif, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  padding: 0px;
  margin: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fbfbfb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

iframe {
  width: 100% !important;
}

.background1 {
  background-image: url('./Images/Group 1.png');
  height: 70vh;
  width: 100%;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.background2 {
  background-image: url('./Images/Land2.png');
  height: 15vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.modal {
  animation: fadein 0.5s;
}
.modal:not(.show) {
  display: none;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 800ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.edit2 {
  width: 70%;
  height: 70%;
  border: 0px solid;
  outline-style: none;
  background-color: #ffff;
  border: 0px;
  margin: 7% auto;
  border-radius: 8px;
}
